@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4; /* Light grey background for a subtle look */
}

.container {
   width: 100%;
   background-color: white;
}

header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #f8f9fa;
   padding: 0.5rem 1rem;
   height: 7rem;
   font-family: "Work Sans", sans-serif;
}

.nav {
   display: flex;
   align-items: center;
}

.nav a {
   text-decoration: none;
   color: red; 
   padding: 1rem;
}

.nav a:hover {
   color: red; 
}

.content-wrapper {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   background-color: white; 
   box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.map-container {
   width: 100%;
   height: 450px;
}

.map-container iframe {
   width: 100%;
   height: 100%;
   border: none;
}

.home-main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.search-path {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   width: 100%;
}

.search-path input,
.search-path button {
   padding: 10px;
   margin: 5px;
}

.search-path button {
   background-color: red; 
   color: white;
   border: none;
   cursor: pointer;
}

footer {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   font-family: "Work Sans", sans-serif;
   background-color: #eeeeee; /* Light gray footer background */
}

.footerText {
   color: #424242; /* Dark grey for text to ensure readability */
}

.footerLink {
   color: black; 
   text-decoration: none;
}

.footerLink:hover {
   color: red; 
}
